/* Google Fonts 
=Fredoka
=Major Mono Display
=Turret Road
*/
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500;600&family=Major+Mono+Display&family=Turret+Road:wght@200;300;400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}

/* Site Settings */
:root{
    /* Fonts */
    --fontNorm: 'Fredoka', sans-serif;
    --fontTech: 'Turret Road', cursive;
    --fontFuture: 'Major Mono Display', monospace;

    /* Breakpoints */
    --lg: 1200px;
    --md: 824px;
    --sm: 600px;

    /* Colors */
    --pink:#CB4763;
    --light-pink:#FF8D81;
    --orange:#7B3F19;
    --yellow:#E5D963;
    --bright-yellow:#FFC500;
    --red:#6C251D;
    --green:#85E563;

    /* Gradient */
    --mainGradient:linear-gradient(0deg, rgba(114, 33, 48, 0) 0%, rgba(108, 37, 29, 0.144) 91.43%);
    --brighterGradient: linear-gradient(0deg, rgba(126, 67, 25, 0.2) 0%, rgba(108, 37, 29, 0.2) 91.43%);
    --fullGradient: linear-gradient(0deg, #7E4319 0%, #6C251D 91.43%);
}

body{
    background-color: #170711;
    color: white;
    font-family: var(--fontNorm);
    font-weight: lighter;
}

#container_main{
    overflow: hidden;
}

#header{
    /* background: linear-gradient(180deg, rgba(4, 2, 2, 0) 0%, rgba(17, 5, 12, 0.87) 91.15%, #170711 99.48%); */
    background: linear-gradient(180.23deg, rgba(23, 7, 17, 0.01) 7.86%, rgba(23, 7, 17, 0.178) 14.43%, rgba(23, 7, 17, 0.11) 20.31%, #170711 99.8%);
    position: relative;
    padding-top: 2em;
    padding-bottom: 7em;
    margin-bottom: 150px;
}
    @media screen and (max-height:1000px) {
        #header{
         height: 100vh;
        }
        #header .header_content .header_logo{
            max-height: 250px;
            margin-bottom: -30px;
        }
    }
    #header_bg{
        position: absolute;
        z-index: -100;
        width: 100%;
        height: 100%;
        bottom: 8px;

    }
        #header_bg video{
            display: block;
            width: 100%;
            object-fit: cover;
            height: 100%;

            filter: blur(.1vw);
            opacity: .2;

        }

    #header .header_content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
    }

        #header .header_content .header_logo{
            max-width: 90%;
            margin: -20px;
            max-height:400px;
            animation: flicker 8s linear infinite, glow 5s ease-in-out infinite;
            -webkit-animation: flicker 8s linear infinite, glow 5s ease-in-out infinite;
        }

    #header .subtitle{
        width: min(75%,600px)
    }
        #header .subtitle .subtitle_title{
            display: flex;
            align-items: center;
            gap: 2em;
            flex-wrap: nowrap;
        }
            #header .subtitle .subtitle_title p{
                white-space: nowrap;
                font-size: 1rem;
            }
            #header .subtitle .subtitle_title .line{
                width: 100%;
                height: 0px;
                border: 1px solid rgba(255, 255, 255, 0.69420);
                flex: 1;
            }

        #header .subtitle .subtitle_text{
            font-size: .7rem;
            font-weight: lighter;
            color: #d8d0d0;
        }
            #header .subtitle .subtitle_text .flower{
                font-size: 1.5rem;
                line-height: 2%;
            }


        #header .header_info{
            background-color: rgba(255, 0, 0, 0.158);
            width: 100%;
            margin: .5em;
            mask-image: linear-gradient(90deg, rgba(217, 217, 217, 0) 10%, #d9d9d9d0 50.15%, rgba(217, 217, 217, 0) 90%);
            -webkit-mask-image: -webkit-linear-gradient(180deg, rgba(217, 217, 217, 0) 10%, #d9d9d9d0 50.15%, rgba(217, 217, 217, 0) 90%);
        }

        #header .header_info ul{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1.3em;
            padding: .2em 0;
            background: linear-gradient(0deg, rgba(144, 38, 59, 0.115) 0%, rgba(108, 37, 29, 0.205) 91.43%);
            box-shadow: 0px 0px 14px 3px rgba(144, 38, 59, 0.25);
            border-radius: 4px;
            font-size: .8rem;
            border: 2px solid #6C251D;
        }
            #header .header_info li:hover{
                color: var(--pink);
            }

#navigation{
    /* background-color: red; */
    width: 80%;
}

    #navigation .nav{
        display: flex; 
        gap: 2em;
        justify-content: center;
        align-items: center;
        margin: .9em  0;
    }

        #navigation .nav li a {
            color: #FFBEBE;
            text-decoration: none;
            width: 100%;
            height: 100%;
            display: block;
            padding: 0.3em 1.5em;
            background: linear-gradient(180deg, #6c251d49 0%, hsla(23, 66%, 29%, 0) 100%);
            border: 1px solid #7B3F19;
            border-radius: 3px;

            transition: all 250ms ease;
            letter-spacing: 2px;
            font-size: .95rem;

        }
        #navigation .nav li a:hover {
            background: linear-gradient(180deg, #6C251D 0%, #7B3F19 100%);
            border-radius: 4px 20px 4px 20px;
            scale: 1;
            box-shadow: 0px 0px 8px 4px #9f2a4556;

        }
        
        @media screen and (max-width: 824px){
            #navigation .nav{
                display: flex; 
                flex-direction: column;
                gap: 0.3em;
            }
            #navigation .nav li{
                width: 60%;
            }
            #header{
                margin-bottom: 240px;
            }
        }
        @media screen and (max-width: 600px){
            #header .subtitle .subtitle_text{
                font-size: .6rem;
            }
            #header .subtitle .subtitle_text .flower{
                display: none;
            }
        
            #header .subtitle .subtitle_title p{
                font-size: .75rem;
            }

            #header .header_info ul{
                flex-direction: column;
                gap: 0.2em;
            }
        }


main{
    padding-bottom: 150px;
}

    .section{
        background:linear-gradient(0deg, rgba(114, 33, 48, 0) 0%, rgba(108, 37, 29, 0.144) 91.43%);
        border: 4px solid #6C251D;
        border-left: none;
        border-right: none;
        min-height: 200px;
        position: relative;
    }

    .decor_ears{
        position: absolute;
        width: 100%;
        bottom: 100%;
        display: flex;
        justify-content: center;
        gap: 30vw;
        max-height: 20vh;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
}
    .decor_ears .left img,
    .decor_ears .right img{
        width: 100%;
        height: 100%;
    }

    .decor_ears > img{
        object-fit: contain;
        scale: 1.2;
        transform-origin: bottom center;
        transform: translateY(-3px);
        -webkit-transform: translateY(-3px);
        -moz-transform: translateY(-3px);
        -ms-transform: translateY(-3px);
        -o-transform: translateY(-3px);
        max-height: 200px;
}

    section .section_header{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: .4em 10%;
        gap: 2em;

    }
        .section_header h2{
            font-size: 2rem;
            color: #FF8D81;
            white-space: nowrap;
        }
        .section_header .line{
            flex:1;
            border-bottom: 2px solid #6C251D;
            border-radius: 2px;
            -webkit-border-radius: 2px;
            -moz-border-radius: 2px;
            -ms-border-radius: 2px;
            -o-border-radius: 2px;
        }
        @media screen and (max-width:600px) {
            .section_header h2{
                font-size: 1.4rem;
            }

        }


.btn{
    background: var(--fullGradient);
    padding: .4em 2em;
    margin: .5em 0;
    box-shadow: 0px 0px 4px 1px #9f2a4571;
    font-family: var(--fontTech);
    transition: all 250ms ease;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    -o-transition: all 250ms ease;
}
   
    .btn:hover{
        box-shadow: 0px 0px 8px 1px #9f2a4571;
    }

    .btn.link{
        padding: 0;
        border: none;
        border-radius: 10px;
    }

    .btn.link a{
        color: var(--yellow);
        text-shadow: 0px 0px 5px black;
        padding: .2em 1em;
        font-size: 1.5rem;
        text-decoration: none;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        top: 2px;
        position: relative;
        display: block;
    }

    .btn.small,
    .btn.small a{
        font-size: 1rem;
    }



.panel{
    border: 2px solid var(--orange);
    background: var(--mainGradient);
}
