/* Styling for =Portfolio= Page */

#header{
    margin-bottom: 400px;
}
.decor_banner img{
    width: 100%;
    height: 100%;
    opacity: .5;
    object-fit: cover;
    display: block;
    transform: scaleY(.9);
    -webkit-transform: scaleY(.9);
    -moz-transform: scaleY(.9);
    -ms-transform: scaleY(.9);
    -o-transform: scaleY(.9);
    transform-origin: bottom center;
    pointer-events: none;
}
.decor_banner{
    max-width: 80%;
    margin: 0 auto;
    margin-top: -30%;
}

 
#gallery-nav{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

    #gallery-nav .image img{
        max-width: 100%;
        max-height: 100%;
    }

    #gallery-nav .navigation{
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        gap: 1em;
        padding: 0 10%;
    }
    #gallery-nav .decor_zigzag{
        flex: 1;
        z-index: -2;
    }  

    #gallery-nav .navigation .nav{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1em;
    }
    #gallery-nav .nav .col{
        display: flex;
        flex-direction: column;
        align-content: stretch;
    }


    #gallery-nav .btn{
        background: linear-gradient(0deg, rgba(126, 67, 25, 0) 0%, rgba(108, 37, 29, 0.171) 91.43%);
        border: 3px solid var(--orange);
        color: var(--pink);
        text-decoration: none;
        font-size: 1.8rem;
        padding: 0.2em .5em;
        border-radius: 2px 20px 2px 2px;
        -webkit-border-radius: 2px 20px 2px 2px;
        -moz-border-radius: 2px 20px 2px 2px;
        -ms-border-radius: 2px 20px 2px 2px;
        -o-border-radius: 2px 20px 2px 2px;
        letter-spacing: 2px;
        font-weight: 300;
        transition: all 250ms ease;
        -webkit-transition: all 250ms ease;
        -moz-transition: all 250ms ease;
        -ms-transition: all 250ms ease;
        -o-transition: all 250ms ease;
    }

    #gallery-nav .btn:hover{
        background:linear-gradient(0deg, #7A3E19 0%, #6C251D 91.43%);
        color: var(--yellow);
        font-weight: bold;
    }

    #gallery-nav .image{
        position: relative;
    }
    #gallery-nav .image img{
        animation: sway 10s linear infinite;
        -webkit-animation: sway 10s linear infinite;
        transform-origin: bottom center;
    }
    #gallery-nav .image .bg{
        background:  linear-gradient(180deg, rgba(144, 38, 59, 0.27) 40%, rgba(144, 38, 59, 0) 100%);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        scale: .7;
        z-index: -1;
        opacity: .6;
    }


    @media screen and (max-width:1000px) {
        #gallery-nav .btn{
            font-size: 1.3rem;
        }
    }
    @media screen and (max-width:800px) {
      
        #gallery-nav .navigation .nav{
            display: flex;
            flex-direction: column;
        }

        #gallery-nav .image{
            display: flex;
            align-items: center;
        }
    }

    @media screen and (max-width:600px) {
        #gallery-nav{
            display: initial;
        }
    }