/* Styling for =Pricing= Page */

main{
    color: var(--light-pink);
}
a{
    color: var(--pink);
}

.section{
    min-height: 0;
	padding-bottom: 1.3em;
}

#package-set .sets{
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
    justify-items: stretch;
    gap: 2em;
    padding: 2em;
    max-width: 800px;
    margin: 0 auto;
}

    #package-set .sets .set{
        border: 2px solid var(--orange);
        border-radius: 0 20px 0 0;
        -webkit-border-radius: 0 20px 0 0;
        -moz-border-radius: 0 20px 0 0;
        -ms-border-radius: 0 20px 0 0;
        -o-border-radius: 0 20px 0 0;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #package-set .sets .set .info {
        padding: .3em;
    }
        #package-set .sets .set .info .line{
            width: 90%;
            margin: .3em auto;
            height: 0px;
            border: 1px solid var(--yellow);

        }
        #package-set .sets .set .info h2{
            font-family:var(--fontTech);
            font-size: 1.4rem;
            color: var(--yellow);
            margin: .3em .5em;
			white-space: nowrap;
        }
		#package-set .sets .set .info h2.special{
			filter: brightness(120%);
        }
        #package-set .sets .set .info .features{
            display: flex;
            flex-direction: column;
            gap:.4em;
            padding-top: 10px;
            padding-bottom: 30px;
        }
        #package-set .sets .set .info .features p{
            color: white;
            margin-left: 1em;
            font-size: .8rem;
            transition: all 250ms ease;
            -webkit-transition: all 250ms ease;
            -moz-transition: all 250ms ease;
            -ms-transition: all 250ms ease;
            -o-transition: all 250ms ease;
            font-weight: 200;
        }   
        #package-set .sets .set .info .features p:hover{
            padding: .5em 0;
            background-color: rgba(76, 137, 252, 0.158);
            mask-image: linear-gradient(90deg, #d9d9d9d0 40.15%, rgba(217, 217, 217, 0) 90%);
            /* -webkit-mask-image: -webkit-linear-gradient(180deg, #d9d9d9d0 40.15%, rgba(217, 217, 217, 0) 90%) */
        }

        #package-set .sets .set .info .features p i{
            color: var(--pink);
            margin: 0 .6em;
        }

    #package-set .sets .set .price{
        color: black;
        font-size:2.3rem;
        text-align: center;
        padding: .1em;
        background-color: var(--orange);   
    }

        #package-set .sets .set.yellow{
            border:2px solid var(--yellow);
            background: linear-gradient(0deg, rgba(46, 196, 178, 0) 0%, rgba(229, 217, 99, 0.2) 91.43%);
            box-shadow: 0px 0px 0px 0px rgba(144, 38, 59, 0.25);
            transition: all 250ms ease;
            -webkit-transition: all 250ms ease;
            -moz-transition: all 250ms ease;
            -ms-transition: all 250ms ease;
            -o-transition: all 250ms ease;
        }
        #package-set .sets .set.set.yellow:hover{
            box-shadow: 0px 0px 30px 3px rgba(144, 38, 59, 0.25);

        }
        #package-set .sets .set.yellow .price{
            background-color: var(--yellow);
        }
        #package-set .sets .set.green{
            border:2px solid var(--green);
            background: linear-gradient(0deg, rgba(100, 218, 225, 0) 0%, rgba(133, 229, 99, 0.2) 91.43%);
            box-shadow: 0px 0px 0px 0px rgba(144, 38, 59, 0.25);
            transition: all 250ms ease;
            -webkit-transition: all 250ms ease;
            -moz-transition: all 250ms ease;
            -ms-transition: all 250ms ease;
            -o-transition: all 250ms ease;
}
        #package-set .sets .set.green:hover{
            box-shadow: 0px 0px 30px 3px rgba(144, 38, 59, 0.25);

        }
        #package-set .sets .set.green .price{
            background-color: var(--green);
            
        }

        #package-set .sets .set.pink{
            border: 2px solid var(--pink);
            background: linear-gradient(0deg, rgba(52, 174, 201, 0) 0%, rgba(239, 38, 159, 0.2) 91.43%);
            box-shadow: 0px 0px 30px 3px rgba(144, 38, 59, 0.25);
        }
        #package-set .sets .set.pink .price{
            background-color: var(--pink);
            color: white;
        }


#package-extra{
    text-align: center;
    /* background-color: red; */
    padding: 2em 0;
}
    #package-extra .package{
        max-width: 70ch;
        margin: 3em auto;
        background: var(--mainGradient);
    }
    #package-extra .package.bright .pack{
        background: var(--brighterGradient);
    }
    #package-extra .package .pack{
        border: 2px solid var(--orange);
        margin: .2em 0;
        padding: 1em 0;
    }
    #package-extra .package .pack .pack_price{
        color: white;
        font-size: 2rem;
    }
    #package-extra .package .pack .pack_price span{
        font-size: .8rem;
    }
    #package-extra .package .extra-text{
        color: white;
        font-size: .7rem;
        margin-top: 1em;
    }

    #package-extra .package .pack h2{
        font-size: 2.3rem;
        font-family: var(--fontTech);
        color: var(--bright-yellow);
    }

    .grad-up{
        background: linear-gradient(0deg,transparent -20%, rgba(55, 33, 114, 0.363) 20%, rgba(108, 37, 29, 0.69) 101.43%);
    }


#prices .pricing{
    padding: 3em 1em;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2em;
}

.panel.panel_price > h2{
    font-family: var(--fontFuture);
    text-align: center;
    font-size: 2rem;
}

.panel.panel_price {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 2em;
    gap: 1em;
}
.panel.panel_price:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    filter: brightness(150%);
    -webkit-filter: brightness(150%);
    transition: 50ms linear all;
    -webkit-transition: 50ms linear all;
    -moz-transition: 50ms linear all;
    -ms-transition: 50ms linear all;
    -o-transition: 50ms linear all;
}
.panel{
    position: relative;
}
.panel.panel_price > img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    scale: 1.03;
    transform: translateY(-5%);
    -webkit-transform: translateY(-5%);
    -moz-transform: translateY(-5%);
    -ms-transform: translateY(-5%);
    -o-transform: translateY(-5%);
}
.panel.panel_price .price-list{
    width: 100%;
}

.price-list.wide{
    grid-column: 1/3;
}
.panel.panel_price .price-list:hover{
    transition: 250ms ease all;
    -webkit-transition: 250ms ease all;
    -moz-transition: 250ms ease all;
    -ms-transition: 250ms ease all;
    -o-transition: 250ms ease all;
    outline: 2px solid white;
    transform: skewX(-10deg);
    -webkit-transform: skewX(-10deg);
    -moz-transform: skewX(-10deg);
    -ms-transform: skewX(-10deg);
    -o-transform: skewX(-10deg);
}


.price-list{
    background: var(--mainGradient);
    border: 3px solid var(--red);
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    padding: 1em 2em;
}
    .price-list .price-list_info h2{
        color: var(--yellow);
        font-family: var(--fontTech);
    }
    .price-list .price-list_price p{
        color: white;
        font-size: 2rem;
        font-family: var(--fontFuture);
        text-align: right;

    }


#prices .panel.panel_price h2{
        font-size: 1.5rem;
}

    #prices .panel.panel_price .price-list{
        padding: .5em 1em;
        min-height: 100px;
    }


    @media screen and (max-width:1200px) {
        .panel.panel_price{
            padding: 1.2em 1em;
        }
        #prices .panel.panel_price .price-list .price-list_info h2{
            font-size: 1rem;
        }
        #prices .panel.panel_price .price-list .price-list_info p{
            font-size: .8rem;
        }
        .price-list .price-list_price p{
            font-size: 1.4rem;
        }
        #prices .panel.panel_price .price-list{
            min-height: 55px;
        }
        #prices .pricing {
            max-width: 920px;
            margin: 0 auto;
        }
    }


    
#prices_extra{
    /* Remove this comment if there's two banner */
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    display: flex;
    justify-content: center;
    gap: 1.4em;
    padding: 4em 2em;
    margin-bottom: 80px;
}

#prices_extra .panel.panel.panel_price{
    background: linear-gradient(0deg, rgba(64, 29, 125, 0.084) 10%, rgba(108, 37, 29, 0.401) 91.43%);
    max-width: 1100px;
}
#prices_extra .panel > p{
    color: var(--yellow);
    align-self: flex-start;
}

.panel.panel_price img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.panel.panel.panel_price .banner{
    width: 100%;
}

#prices_extra .panel.panel_price button{
    align-self: flex-start;
}


#prices_other,#prices_additional{
    padding: 2em;
}
#prices_other .btn{
    margin: 2em 0;
}
#prices_other > h2,
#prices_additional > h2{
    text-align: center;
    font-family: var(--fontFuture);
    font-size: 2.5rem;
    margin-bottom: 1em;
}

    .prices-double{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: .5em;
    }
    .prices-double .price-list{
        padding: 2em .9em;
    }
    .prices-double .price-list .price-list_price p{
        font-size: 2.5rem;
    }


.prices-double .price-list .price-list_price.double p{
    font-size: .7rem;
    text-align: center;
}
.prices-double .price-list .price-list_price.double p span{
    font-size: 4rem;
    display: block;
}



#prices_additional{
    margin: 100px 0;
}
#prices_additional .prices-double .price-list{
    padding: .8em 1em;
}
.rush-fee > h2{
    text-align: center;
    font-family: var(--fontFuture);
    font-size: 2.5rem;
    margin-top: 1em;
    margin-bottom: .5em;
}
    .rush-fee .price-list .price-list_price p{
        font-size: 2rem;
    }
    .rush-fee .price-list{
        padding: 1em .7em;
        gap: 5.5em;
    }


.future-bg{
    background: url('../media/images/honey.png'),rgb(44, 27, 17) ;
    background-position: bottom center;
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-size: cover;
}

.prices-double .price-list:hover{
    background: var(--brighterGradient);
    border-radius: 0px 40px 0px 40px;
    transition: 50ms linear all;
    -webkit-transition: 50ms linear all;
    -moz-transition: 50ms linear all;
    -ms-transition: 50ms linear all;
    -o-transition: 50ms linear all;
    -webkit-border-radius: 0px 40px 0px 40px;
    -moz-border-radius: 0px 40px 0px 40px;
    -ms-border-radius: 0px 40px 0px 40px;
    -o-border-radius: 0px 40px 0px 40px;
}

#package-set .sets .set:hover{
    outline: 1px solid white;
    scale: 1.05;
}

@media screen and (max-width:800px) {
    #package-set .sets .set .info h2{
        font-size: 1rem;
    }
    #prices .pricing{
        display: grid;
        grid-template-columns: 1fr 1fr;
        max-width: 90%;
    }
    #prices .btn.link a{
        font-size: 1rem;
    }
    #prices .panel.panel_price h2{
        font-size: 1.2rem;
    }
    #prices_extra .panel.panel.panel_price h2{
        font-size: 1.6rem;
    }
    #prices_extra .price-list{
        padding: 1em .5em;
    }
}


@media screen and (max-width:600px) {
    #package-set .sets .set .info h2{
        font-size: 1.5rem;
    }
    #package-set .sets{
        display: flex;
        flex-direction: column;
    }
    #package-extra .package{
        max-width: 80%;
    }
    #package-extra .package .pack h2{
        font-size: 1.4rem;
    }
    #package-extra .package .pack p{
        font-size: .7rem;
    }
    #prices .pricing{
        display: grid;
        grid-template-columns: 1fr;
        max-width: 80%;
    }
    #prices .panel{
        min-height: 250px;
    }
    .panel.panel_price > img{
        scale: 1;
        object-fit: contain ;
    }

    #prices .panel.panel_price h2{
        font-size: 1.4rem;
    }
    #prices_extra{
        display: initial;
    }
    #prices_extra .panel{
        max-width: 80%;
        margin: 1.5em auto;
    }
    .prices-double{
        display: flex;
        flex-direction: column;
    }
    #prices_other > h2{
        font-size: 2.4rem;
    }
}